@import url('https://fonts.googleapis.com/css2?family=Comic+Relief:wght@400;700&family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');
:root {
  --verde:#136e13;
  --primary-color: rgb(47, 240, 47);
  --primary-color-darker: rgb(19, 107, 33);
  --preto:#212121;
}

* {
  box-sizing: border-box;
  outline: 0;
  font-family: "Nunito", sans-serif;
}
h1{
  text-align: center;
  margin-top: auto;
  position: relative;
  top: 76px;
  left: 49px;
  color: #212121;
  
}
::placeholder{
  font-style: italic;
  font-size: 20px;
}



body {
  margin: 0;
  padding: 0;
  background: var(--verde);
  font-size: 1.3em;
  line-height: 1.5em;
}

.container {
  max-width: 640px;
  margin: 50px auto;
  background: #ffffff;
  padding: 50px;
  border-radius: 10px;
  box-shadow: 10px 10px 20px var(--preto) 
}

form input, form label, form button {
  display: block;
  width: 100%;
  margin-bottom: 10px;
  font-weight: bold;
  
}

form input {
  color: #212121;
  font-size: 20px;
  height: 40px;
  padding: 20px;
  border-radius: 10px;
  

}

form input:focus {
  outline: 1px solid var(--verde);
}

form button {
  border: none;
  background: var(--primary-color);
  color: #212121;
  font-size: 18px;
  font-weight: 700;
  height: 50px;
  cursor: pointer;
  margin-top: 30px;
  transition: 0.4s ease;
  border-radius: 10px;
  box-shadow: 1px 1px 5px 1px var(--preto);
}

form button:hover {
  background: var(--primary-color-darker);
  color: white;
}

.paragrafo-resultado, .bad {
  background: rgb(109, 255, 182);
  padding: 10px 20px;
  border-radius: 10px;
}

.bad {
  background: rgb(255, 150, 150);
  border-radius: 10px;
}
h2{
  font-size: 13px;
  font-style: italic;
  background-color: #a2fca2;
  padding: 5%;
  border-radius: 5px;
}
